body {
    background-color: rgb(37, 37, 37);
}

main {
    text-align: center;
    color: rgb(245, 245, 245);
    font-size: 18px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Links */
a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:visited {
    color: rgb(245, 245, 245);
}

a:hover {
    color: rgb(167, 103, 7);
}

/* -------------------------------- */
/* Player VS opponent part of the page */
.player {
    margin: 25px auto auto auto;
}

.player > p {
    font-size: 36px;
    margin: 10px;
}

.opponent > p {
    margin: 5px;
}

/* Rock-paper-scissors, main part of the page */
.player > .choices > input {
    width: 12vw;
    height: 12vw;
    padding: 15px;
    border-radius: 50px;
    object-fit: cover;
    margin: 15px;
}

.player > .choices > input:hover {
    border: 4px solid rgb(167, 103, 7);
}

/* Opponent's zone, smaller */
.opponent > .choices > img {
    width: 6vw;
    height: 6vw;
    padding: 5px;
    border-radius: 25px;
    margin: 4px;
}

/* Default state of player's choices */
.possible-choice {
    border: 4px dashed rgb(245, 245, 245);
}
/* Dynamically applied on player's click, also on
    opponent's choice */
.selected {
    opacity: 1;
    border: 4px solid rgb(167, 103, 7);
}
/* Pictures that weren't selected by player,
    also default state of opponent */
.inactive {
    opacity: 0.7;
    border: 4px solid transparent;
}

/* -------------------------------- */
/* The score under the game zone */
.score {
    border-top: 8px double rgb(167, 103, 7);
    width: 12vw;
    font-size: 24px;
    margin: 25px;
    min-width: 80px;
}

.score > .separator {
    color: rgb(167, 103, 7);
}

/* -------------------------------- */
/* Links to other stuff, positioned on the right of the page */
.side-links {
    position: absolute;
    top: 3vh;
    right: 0;
    rotate: 270deg;
    transform-origin: right bottom;
}

.side-links > * {
    margin: 0;
    padding: 0;
}

.side-links > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 15px 15px 10px 15px;
    margin: 15px 15px 0 15px;
    border-top: 2px dashed rgb(167, 103, 7);
    border-left: 2px dashed rgb(167, 103, 7);
    border-right: 2px dashed rgb(167, 103, 7);
}

@media screen and (max-width: 550px) {
    .side-links {
        rotate: 0deg;
        position: fixed;
        top: auto;
        right: auto;
        bottom: 0;
        font-size: 14px;
    }
}
